.image-move {
  width: 160px;
  height: 20px;
  background-repeat: repeat-x;
  background-position: 0 center;
  animation: moveImage 30s infinite;
  animation-timing-function: linear;
}

@keyframes moveImage {
  0% {
    background-position: 0px center;
  }
  100% {
    background-position: -800px center;
  }
}
