.movement-container .mask {
  width: 100%;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 15%,
    white 90%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 15%, white 60%, transparent);
}

.movement {
  animation: moveImage 40s linear forwards infinite;
}

@keyframes moveImage {
  to {
    transform: translate(calc(-50% - 0.4rem));
  }
}

.intern-form input:-webkit-autofill {
  -webkit-background-clip: initial;
}

/* progress[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(
      -45deg,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
    -webkit-linear-gradient(left, #09c, #f44);

  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
} */

.rotating-path {
  --circleDiameter: 300px;
  --planets: calc(var(--circleDiameter) / 5);

  position: absolute;
  top: 0;
  left: -10%;
  width: 100%;
  height: calc(100% / 1.2);
  border-radius: 100%;
  animation: rotate 30s linear infinite;
}

.rotating-path:hover,
.rotating-path:hover .rotating-image {
  animation-play-state: paused;
}

.rotating-image {
  position: absolute;
  width: var(--planets);
  aspect-ratio: 1;
  border-radius: 100%;
  animation: maintain 30s linear infinite,
    reveal var(--reveal-secs) linear forwards;
}

.rotating-image:nth-child(1) {
  --scale-initial: 2;
  --scale-sub: 1.8;
  --scale-middle: 1.5;
  --scale-preend: 1.3;
  --scale-end: 1;
  --reveal-secs: 5s;
  top: calc(-1 * var(--planets) / 2);
  left: calc(var(--circleDiameter) / 2 - var(--planets) / 2 - 5px);
}

.rotating-image:nth-child(2) {
  --reveal-secs: 15s;
  --scale-initial: 1.8;
  --scale-sub: 1.5;
  --scale-middle: 1.3;
  --scale-preend: 1;
  --scale-end: 2;
  right: calc(var(--planets));
  bottom: calc(var(--planets) / 16);
}

.rotating-image:nth-child(3) {
  --reveal-secs: 25s;
  --scale-initial: 1.5;
  --scale-sub: 1.3;
  --scale-middle: 1;
  --scale-preend: 2;
  --scale-end: 1.8;
  top: calc(var(--planets) * 6);
  left: calc(var(--planets) * 1.2);
}

.rotating-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
  animation: scale 15s linear infinite alternate;
}

@keyframes rotate {
  0% {
    margin-left: 0px;
    margin-top: 0px;
  } /* starting position */
  25% {
    margin-left: 50px;
    margin-top: 0px;
    transform: rotate(-360deg);
  }
  50% {
    margin-left: 50px;
    margin-top: 50px;
    transform: rotate(-720deg);
  }
  75% {
    margin-top: 50px;
    margin-left: 0px;
    transform: rotate(-1080deg);
  }
  100% {
    margin-left: 0px;
    margin-top: 0px;
    transform: rotate(-1440deg);
  }
}

@keyframes maintain {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1440deg);
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes scale {
  0% {
    transform: scale(var(--scale-initial));
  }
  25% {
    transform: scale(var(--scale-sub));
  }
  50% {
    transform: scale(var(--scale-middle));
  }
  75% {
    transform: scale(var(--scale-preend));
  }
  100% {
    transform: scale(var(--scale-end));
  }
}
