.movement-container .mask {
  width: 100%;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 15%,
    white 90%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 15%, white 60%, transparent);
}

.movement {
  animation: moveImage 40s linear forwards infinite;
}

@keyframes moveImage {
  to {
    transform: translate(calc(-50% - 0.4rem));
  }
}

.intern-form input:-webkit-autofill {
  -webkit-background-clip: initial;
}

/* progress[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(
      -45deg,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
    -webkit-linear-gradient(left, #09c, #f44);

  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
} */
