.blog-card {
  background-color: #fff;
}

.inline-x {
  width: 100%;
  display: inline !important;
}

.blurry-text {
  color: transparent !important;
  text-shadow: 0 0 3.5px #292a2b;
}

.blurry-text-md div,
.blurry-text-md div h1,
.blurry-text-md article {
  color: transparent !important;
  text-shadow: 0 0 10px #58595a;
}

.blog-article {
  font-size: 14px;
  line-height: 1.5;
}

.blog-article * {
  margin: 12px 0 !important;
}

.blog-article h1,
.blog-article h2,
.blog-article h3,
.blog-article h4,
.blog-article p,
span {
  font-family: "Merriweather", sans-serif !important;
}

.blog-article blockquote {
  background: #f9f9f9;
  border-left: 15px solid #8c86b3;
  font-size: 17px;
  /* margin: 1.5em 10px; */
  padding: 20px;
  /* quotes: "\201C""\201D""\2018""\2019"; */
}

/* .blog-article blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
} */
.blog-article h1,
.blog-article h2,
.blog-article h3,
.blog-article h4,
.blog-article h5,
.blog-article h6,
.blog-article strong {
  font-weight: bold;
}

.blog-article h1 {
  font-size: 32px;
}

.blog-article h2 {
  font-size: 26px;
}

.blog-article h3 {
  font-size: 22px;
}

.blog-article h3 {
  font-size: 22px;
}

.blog-article h4 {
  font-size: 20px;
}

.blog-article h5 {
  font-size: 18px;
}

.blog-article h6 {
  font-size: 15px;
}

.blog-article ul {
  list-style-type: disc;
  padding-inline-start: 30px;
}

.blog-article a {
  color: #332a66;
}

.blog-article a:hover {
  color: #8c86b3;
}

@media only screen and (min-width: 560px) {
  .blog-card {
    max-width: 400px;
  }
}
