.blog-card {
  background-color: #fff;
}

.inline-x {
  width: 100%;
  display: inline !important;
}

.blurry-text {
  color: transparent !important;
  text-shadow: 0 0 3.5px #292a2b;
}

.blurry-text-md div,
.blurry-text-md div h1,
.blurry-text-md article {
  color: transparent !important;
  text-shadow: 0 0 10px #58595a;
}

article div,
article p {
  margin: 8px 0 !important;
}

article > strong {
  @apply text-sm;
  margin: 3px 0 !important;
}

article a {
  @apply text-blue-600;
}

article blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  /* margin: 1.5em 10px; */
  padding: 0.5em 10px;
  /* quotes: "\201C""\201D""\2018""\2019"; */
}

/* article blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
} */

article blockquote p {
  display: inline;
}

article h1 {
  @apply text-lg;
  margin: 3px 0 !important;
}
article h3 {
  @apply text-base;
}

article img {
  @apply block w-full;
}

article br {
  @apply hidden;
}

article > ul,
article > ol {
  @apply m-0;
  padding-inline-start: 1rem !important;
}

article > ol {
  @apply list-decimal;
}

article > ul {
  @apply list-disc;
}

article > ul > li,
article > ol > li {
  margin: 0 !important;
}

article > ol > li > * {
  margin: 0 !important;
}

@media only screen and (min-width: 560px) {
  .blog-card {
    max-width: 400px;
  }
}
