.blog-grid-system {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.blog-card {
  background-color: #fff;
}

.blur {
  line-height: 3;
  color: transparent;
  text-shadow: 0 0 10px #292a2b;
}

article p {
  margin-bottom: 5px !important;
}

@media only screen and (min-width: 360px) {
  .blog-grid-system {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media only screen and (min-width: 560px) {
  .blog-card {
    max-width: 400px;
    margin: auto;
  }
}
