@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  :root {
    --bg-primary: 231 231 232;
    --bg-secondary: 255 173 144;

    --btn-primary: 216 104 66;
    --btn-secondary: 38 32 77;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  font-family: "Arial", sans-serif;
}

main {
  padding-top: 85px;
  padding-bottom: 4rem;
}

input:-webkit-autofill {
  -webkit-background-clip: text;
}

input[type="tel"]:-webkit-autofill {
  outline: 1px solid #fd853c;
  -webkit-background-clip: unset;
}

.underdash {
  position: relative;
}

.underdash::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1.6rem;
  width: 100%;
  height: 30px;
  background-image: url(./assets/icons/underdash.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.acct-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

h1,
h2,
h3,
h4,
input {
  font-family: "Merriweather", sans-serif;
}

select.select-wrapper {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select.select-wrapper::after {
  content: "";
  font-size: 1rem;
  top: 6px;
  right: 10px;
  position: absolute;
}

.bg-primary-200 {
  background-color: #b3aecc;
}

.bg-secondary-200 {
  background-color: #fee1ce;
}

.resume-cta img {
  filter: brightness(40%);
}

.small {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 11px;
  margin: auto;
}

.footer-icon img {
  filter: brightness(500%);
}
