@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  :root {
    --bg-primary: 231 231 232;
    --bg-secondary: 255 173 144;

    --btn-primary: 216 104 66;
    --btn-secondary: 128 52 26;
  }
}

body {
  font-family: "Arial", sans-serif;
}

main {
  padding-top: 85px;
  padding-bottom: 4rem;
}

.underdash {
  position: relative;
}

.underdash::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1.6rem;
  width: 100%;
  height: 30px;
  background-image: url(./assets/icons/underdash.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.acct-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

h1,
h2,
h3,
h4,
input {
  font-family: "Merriweather", sans-serif;
}

.resume-cta img {
  filter: brightness(40%);
}

.small {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 11px;
  margin: auto;
}

.footer-icon img {
  filter: brightness(500%);
}
