@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  :root {
    --bg-primary: 231 231 232;
    --bg-secondary: 255 173 144;

    --btn-primary: 216 104 66;
    --btn-secondary: 38 32 77;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  font-family: "Avenir", sans-serif;
}

#root {
  @apply flex flex-col min-h-screen;
}

main {
  padding-top: 85px;
  padding-bottom: 4rem;
  @apply flex-1 flex flex-col justify-center;
}

input:-webkit-autofill {
  -webkit-background-clip: text;
}

input[type="tel"]:-webkit-autofill {
  outline: 1px solid #fd853c;
  -webkit-background-clip: unset;
}

.input-container {
  @apply p-4 mb-6 text-[11px] w-full text-primary-200 border border-neutral-500 outline-0 rounded-[4px] bg-neutral-1000;
}

.underdash {
  position: relative;
}

.underdash::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1.6rem;
  width: 100%;
  height: 30px;
  background-image: url(./assets/icons/underdash.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.acct-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

h1,
h2,
h3,
h4,
input {
  font-family: "Merriweather", sans-serif;
}

select.select-wrapper {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select.select-wrapper::after {
  content: "";
  font-size: 1rem;
  top: 6px;
  right: 10px;
  position: absolute;
}

.job-desc ul {
  @apply list-disc;
}

.css-art2ul-ValueContainer2 {
  padding-left: 1rem !important;
}

.bg-primary-200 {
  background-color: #b3aecc;
}

.bg-secondary-200 {
  background-color: #fee1ce;
}

.resume-cta img {
  filter: brightness(40%);
}

.nav-dotted-line::after {
  content: "";
  @apply rounded-full absolute left-full -top-1/2 -translate-y-1/3 w-[10px] h-[10px] bg-secondary-500;
}

.inactive.nav-dotted-line::after {
  @apply bg-secondary-300;
}

.small {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 11px;
  margin: auto;
}

.footer-icon img {
  filter: brightness(500%);
}

.circle-orange {
  border-width: 2.2px !important;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  font-size: 10px;
}

/* files */
.drop-file-input {
  position: relative;
}

.drop-file-input input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.drop-file-input:hover,
.drop-file-input.dragover {
  opacity: 0.6;
}

.drop-file-preview {
  margin-top: 70px;
}

.drop-file-preview p {
  font-weight: 500;
}
