@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  :root {
    --bg-primary: 231 231 232;
    --bg-secondary: 255 173 144;

    --btn-primary: 216 104 66;
    --btn-secondary: 38 32 77;
    font-size: 16px;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  font-family: "Avenir", sans-serif;
}

#root {
  @apply flex flex-col min-h-screen;
}

main {
  padding-bottom: 4rem;
  @apply flex-1 flex flex-col justify-center pt-[65px] sm:pt-[85px];
}

input:-webkit-autofill {
  -webkit-background-clip: text;
}

input {
  font-family: "Avenir", sans-serif;
}

input[type="tel"]:-webkit-autofill {
  outline: 1px solid #fd853c;
  -webkit-background-clip: unset;
}

.stdropdown-container {
  border: none !important;
}

.stsearch-box {
  padding: 0 !important;
}

.stsearch-box input {
  border: none !important;
  outline: none !important;
  padding: 0 !important;
  background: transparent;
}

.input-container {
  @apply p-4 mb-6 text-[11px] w-full h-[50px] text-primary-400 border border-neutral-500 outline-0 rounded-[4px] bg-neutral-1000 focus:border-primary-500 focus:border-[1.5px];
}

.coverLetter__input {
  @apply px-4 py-3 text-[11px] w-full max-h-[50px] text-primary-400 border border-neutral-500 outline-0 bg-neutral-1000 focus:border-primary-500 focus:border-[1.5px]
}

.input-container:has(input:focus) {
  border-color: #403580;
  border-width: 1.5px;
}

.rmdp-year-picker,
.rmdp-month-picker {
  background-color: inherit;
}

.rmdp-day,
.rmdp-week-day,
.rmdp-header-values {
  color: inherit;
}

.rmdp-day.rmdp-selected span:not(.highlight) {
  background-color: #fff;
  box-shadow: none;
  color: #000;
}

.rmdp-day.rmdp-today span {
  background-color: #fc670b;
  color: #fff;
}

.rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) span:hover {
  background-color: #fec29d;
  color: #fff;
}

.underdash {
  position: relative;
}

.underdash::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1.6rem;
  width: 100%;
  height: 30px;
  background-image: url(./assets/icons/underdash.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.acct-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

h1,
h2,
h3,
h4 {
  font-family: "Merriweather", sans-serif;
}

.job-desc ul {
  @apply list-disc pl-4;
}

.css-art2ul-ValueContainer2 {
  padding-left: 1rem !important;
}

.blog-grid-system {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  @apply lg:grid-cols-3 max-w-screen-lg !important;
}

@media only screen and (min-width: 360px) {
  .blog-grid-system {
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

.bg-primary-200 {
  background-color: #b3aecc;
}

.bg-secondary-200 {
  background-color: #fee1ce;
}

.resume-cta img {
  filter: brightness(40%);
}

.nav-dotted-line::after {
  content: "";
  @apply rounded-full absolute left-full -top-1/2 -translate-y-1/3 w-[10px] h-[10px] bg-secondary-500;
}

.nav-dotted-line.bg-success-400::after {
  background-color: #249108;
}

.inactive.nav-dotted-line::after {
  @apply bg-secondary-300;
}

.small {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 11px;
  margin: auto;
}

.footer-icon img {
  filter: brightness(500%);
}

.circle-orange {
  border-width: 2.2px !important;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  font-size: 10px;
}

/* files */
.drop-file-input {
  position: relative;
}

.drop-file-input input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.drop-file-input:hover,
.drop-file-input.dragover {
  opacity: 0.6;
}

.drop-file-preview {
  margin-top: 70px;
}

.drop-file-preview p {
  font-weight: 500;
}

/* Terms and Condition  */
.terms ul.list-decimal > .space-y-2 > li.text-sm,
.merri {
  font-family: "Merriweather", sans-serif;
}
.modal-open {
  overflow: hidden;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
